<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'positions')}">

<body>

  <h2>Position</h2>
  <!--/*@thymesVar id="position" type="org.springframework.samples.petclinic.position.Position"*/-->
  <form th:object="${position}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Position', 'jobPosition', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Area', 'area', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Start date', 'startDate', 'date')}" />
      <input
        th:replace="~{fragments/inputField :: input ('End date', 'endDate', 'date')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${position['new']} ? 'Add Position' : 'Update Position'"
          class="btn btn-default" type="submit" th:text="${text}">Add Position</button>
      </div>
    </div>
  </form>
</body>
</html>
