<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'positions')}">

  <body>

    <h2>Positions</h2>

    <table id="owners" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 200px;">Position</th>
            <th style="width: 200px;">Area</th>
            <th style="width: 120px">Start date</th>
            <th style="width: 120px">End date</th>
            <th>Companies</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="position : ${selections}">
              <td>
                  <a th:href="@{/positions/__${position.id}__}" th:text="${position.jobPosition}"/></a>
              </td>
              <td th:text="${position.area}"/>
              <td th:text="${position.startDate}"/>
              <td th:text="${position.endDate}"/>
              <td><span th:each="company : ${position.companies}" th:text="${company.name} "/></td>
          </tr>
        </tbody>
    </table>

  </body>
</html>
